@model ParkingWeb.Models.ParkingLotViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Editar</h1>
<h4 class="text-center">Tipo de parqueadero</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditParkingLot">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CampusId" />
            <partial name="_ParkingLot" />
            <div class="form-group mt-4 text-center">
                <button input type="submit" value="Guardar" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                <a asp-action="Details" asp-route-id="@Model.CampusId" class="btn btn-dark"><i class="fa-solid fa-rotate-left"></i> Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
