@model ParkingWeb.Models.RecoverPasswordViewModel


@{
    ViewData["Title"] = "RecoverPassword";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card bg-secondary mb-3" style="width: 510px; height: 270px">
            <h2 class="card-header text-center"><i class="fa-solid fa-key"></i> Recuperación de contraseña</h2>
            <div class="card-body bg-light text-center">
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-warning"></span>
                    </div>
                    <div class="form-group mt-4">
                        <button input type="submit" value="Recuperar" class="btn btn-success"><i class="fa-solid fa-lock-open"></i> Recuperar</button>
                        <a asp-action="Login" class="btn btn-dark"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
                    </div>
                </form>
                <div class="text-success">
                    <p>
                        @ViewBag.Message
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
        }


