@model ParkingWeb.Data.Entities.Restriction

<div class="form-group">
    <label asp-for="Day" class="control-label"></label>
    <input asp-for="Day" class="form-control" />
    <span asp-validation-for="Day" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Car1" class="control-label"></label>
    <input asp-for="Car1" class="form-control" />
    <span asp-validation-for="Car1" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Car2" class="control-label"></label>
    <input asp-for="Car2" class="form-control" />
    <span asp-validation-for="Car2" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Motorcycle1" class="control-label"></label>
    <input asp-for="Motorcycle1" class="form-control" />
    <span asp-validation-for="Motorcycle1" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Motorcycle2" class="control-label"></label>
    <input asp-for="Motorcycle2" class="form-control" />
    <span asp-validation-for="Motorcycle2" class="text-danger"></span>
</div>

